@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welssssssscome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
@*@Html.Label("Firstname","Firstname:", new {@class="form-control"})
*@<label class="form-control" asp-for="Firstname"></label>>

</div>

